body{		
	font-family: 'Kaushan Script', cursive;
	font-family: 'Lato', sans-serif;
	font-family: 'Zilla Slab', serif;
	-webkit-user-select: none;
	
}
main{				
	padding: 10px;				
}
.conten
#info-title{
	color: #E0A023;
	margin-top: 20px;
	font-size: 5em;
}
#zumbido{	
	cursor: pointer;
}

#zumbido:active {	
	animation: step-start;
	animation-duration: 0.2s;
}

#img-home{	
	margin-top: 60px;
	width: 30%;
	border-radius: 60%;   	
	box-shadow: none;	 			
}

a{
	color:#F2D02F;
}
article{	
	margin-top: 10px;	
	position: relative;	
	
}
.quitar-float{
	float: none;
} 
.center {
  margin: auto;
  width: 100%;
  border: none;
  /*border: 3px solid green;*/
  padding: 10px;
}
.espacio-arriba{
	margin-top:50px;
}
.fuente-kaushan{
	font-family: 'Kaushan Script', cursive;
}
.fuente-lato{
	font-family: 'Kaushan Script', cursive;
	font-family: 'Lato', sans-serif;
	font-family: 'Zilla Slab', serif;
}
.fuente-tam{
	font-size: 3.5em;	
}
.color-verde{
	color: #E0A023;
}
.margen-derecha{
	margin-right: 1em;
}
.fondo-gris{
	background-color: #eee;
}


.no-lista{
	margin:	0px;
	padding: 0px;
}
.no-lista li{
	list-style-type: none;
}
.padding-largo{
	padding: 5px 10px;
}
.inline-block-barra{
	float:none;	
	display: inline-block;	
	margin-right: -4px;
}
.inline-block{
	float:none;	
	display: inline-flex;	
}
.img-tam{
	max-width: 100%;
}
.fuente-tam-mediano{
	font-size: 1.5em;
}
.fuente-tam-mediogrande{
	font-size: 2em;
}
.fuente-color-negro{
	color: #000000;
}
.restraso-uno{
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;	
}
.restraso-2{	
	animation-delay: 2s;
}
h1{
	animation-delay: 0.5s;
}
h2{
	animation-delay: 2s;
}
#div-index{
	animation-delay: 1s;	
}
.img-tam-mediano{
	max-width: 50%;
}
.animacion-adelanto-1{
	animation-delay: -1s;
}
#h1-menu{
	animation-delay: -0.01s;
}
#img-articulo{
	animation-delay: 0.5s;
}

/*	INFO CONTAINER INFORMACION NORMAL DE LA PAGINA WEB*/
.info-container{
	text-align: center;
	 margin-top: 80px;
}
.img-logo{	
	width: 9%;		
}

.cards-container{
	text-align: center;
	justify-content: center;
	width: auto;
	display: flex;	
	flex-direction: row;		
	flex-wrap: wrap;		
	position: relative;
  }

.figure-container{
	position: relative;
}


figure{
	outline: none;
	cursor:pointer;
	transition: all 300ms;
	position: relative;
	min-width: 320px;	
	max-width: 320px;		
	max-height: max-content;	
	margin: 10px;
	background-color: rgb(219, 216, 216);
	border-radius: 20px;
	border-width: 200px;
	padding: 10px;
	padding-top: 20px;		
	
}

figure img{	
	width: 50%;
}
#iframe-map{		
	width : 600px;
	height : 500px;
	border-radius: 10px;
}	

.nav-barra-inferior{
	padding: 0px 0px 0px 0px;
	text-align: center;		
	margin-top: 10px;
}
#img-calidad{
	width: 500px; ; 
	margin: auto; 
}
.img-tercio{
	width: 500px;
	margin: auto;
}
#text{
	display:none;
}
#text2{
	display:none;
}
#text3{
	display:none;
}
#text4{
	display:none;
}
#text5{
	display:none;
}
#text6{
	display:none;
}
#text7{
	display:none;
}
#text8{
	display:none;
}
#text9{
	display:none;
}
/*
.div-figure{		
	z-index: 10;	
	border-radius: 20px;		
	max-height: 300px;
	overflow: hidden;
	padding-bottom: 20px;
	margin-left: -10px;	
	padding: 0px 5px;				
	transition-duration: all 300s ;

} 
*/
/*
.div-figure:hover{
	background-color: rgb(216, 216, 216);		
	position: relative;
	max-height: max-content;		
	padding-bottom: 20px;
	box-shadow: 2px 2px 4px #bbbab8, 10px 10px 10px rgb(141, 141, 141);	
}
*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
span{
	font-size: 16px;
}

@media screen and (min-width: 700px){	
	figure{
		position: relative;
	}
	
	figure:hover{		
		z-index: 1;				
		box-shadow: 2px 2px 4px #bbbab8, 10px 10px 10px rgb(141, 141, 141);				
	}	

	.div-figure{	
		transition: all 300ms;					
		overflow: hidden;
		margin-top: -15px;
		padding: 10px;
		padding-top: 15px;
		padding-bottom: 0px;
		margin-left: -10px;		
		background-color: rgb(219, 216, 216);		
		border-radius: 20px;	
		z-index: 0;
	}
	
	
		.div-figure:hover{				
		background-color: rgb(219, 216, 216);
		margin-top: -15px;
		padding: 10px;
		padding-top: 15px;
		padding-bottom: 0px;
		margin-left: -10px;					
		max-height: max-content;							
		/*
		box-shadow: 2px 2px 4px #bbbab8, 10px 10px 10px rgb(141, 141, 141);	*/
		
		border-radius: 20px;
		z-index: 2;
	}

	#beepc{	
		display: none;				
	}	
	
}
/*movil///////////////////////////////////////////*/
/*movil///////////////////////////////////////////*/
@media screen and (max-width: 700px){	 

	#beepc{					
		width:  10%;
		position: fixed;		
		bottom: 2px ;	
		right: 7.5px;
		opacity: 0.5;		
		z-index: 30;
		
	}		

	#beepc:active{			
		position: fixed;			
		width:  10.5%;		
		opacity: 1;				
		
	}		
	
	#img-home{			
		margin-top: 25px;	
		min-width: 340px; 
		min-height: auto;		
		padding-left: -20px;						
		/*box-shadow: 0px 0px 40px -5px; 	*/
		box-shadow: none;	
	}
	#info-title{
		font-size: 3em;
	}
	.img-logo{
		width: 20%;		
	}

	.cards-container{		
		width: 100%;		
	}	
	
	figure:hover{			
		box-shadow: 2px 2px 4px #bbbab8, 10px 10px 10px rgb(141, 141, 141);				
	}
	
/*
	.div-figure:hover{
		background-color: rgb(216, 216, 216);		
		position: relative;
		max-height: max-content;		
		padding-bottom: 20px;
		box-shadow: 2px 2px 4px #bbbab8, 10px 10px 10px rgb(141, 141, 141);	
	}
	*/
	/* completo con sombra
	.div-figure:hover{		
		background-color: rgb(216, 216, 216);		
		position: absolute;
		max-height: max-content;
		overflow: visible;
		padding-bottom: 20px;
		box-shadow: 2px 2px 4px #bbbab8, 10px 10px 10px rgb(141, 141, 141);		
	}
*/
	/*
	.div-figure{		
		max-height: 250px;
		overflow: hidden;
		position: relative;
		padding-bottom: 20px;
	}
	*/

	
	figure img{	
		width: 50%;
	}

	#iframe-map{		
		width : 350px;
		height : 350px;		
	}
	#img-calidad{
		width: 100%; ; 
		margin: auto; 
	}
	
	.img-tercio{
		width: 100%;
		margin: auto;
	}
		
	
}
	
