       .contenedor-todo-swiper{
        background: #eee;        
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
        width: 100%;
        max-height: max-content;
        position: relative;

      }

      .swiper-container {
        background: transparent;
        position: relative;
        width: 100%;
        height: 100%;
      }
      .swiper-wrapper{
        max-width: 10px;
        max-height: max-content;        
      }

      .swiper-wrapper div img{
        width: 100%;        
      }

      .swiper-slide {    
        text-align: center;
        font-size: 18px;        
        background: transparent

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      
      .swiper-slide img {            
        padding: 50px;
        display: block;
        width: 100%;
        height: 100%;        
        object-fit: cover;
      } 
      /* .swiper-pagination span{
        background: white;
      } */
      .swiper-pagination-progressbar-fill{
        background: white;
        z-index: 1000;
      }    
      .tarjeta-info{
        color: white;
        border-radius: 20px;
        padding-top:  10px;
        padding-bottom:  10px;
        height: max-content;
      }          
      .about{
        margin-bottom:  -190px;
        background: #DD242C;
        z-index: 1;
      } 
      .about p{        
           opacity: 0;
      } 
      .contenido{    
         margin-bottom:  -140px;    
        background: green;
        z-index: 2;
      } 
      .contenido p{    
        opacity: 0;
      }
      .orden{       
      color: black; 
        background: white;
        z-index: 3;
      }   
/*//////////////////////////////////MOVIL/////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 700px){  
  .swiper-button-next::after{
    display: none;
  }
  .swiper-button-prev::after{
    display: none;
  }
}